#imageWrapper {
    -fx-border-color: silver;
    -fx-background-color: white;
}

#imageWrapper.exists {
    -fx-border-color: #70c900;
    -fx-border-width: 3px;
    -fx-background-color: #edffdf;
}

#imageWrapper.exists:hover {
    -fx-border-color: red;
}

.pagination {
    -fx-page-information-visible: false;
}

.pagination .pagination-control {
    -fx-padding: 20px 0 0 0;
}